<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageLsn.Properties.Settings.Image_lsnConnectionString"
            connectionString="Data Source=SS-LENO01\SSLENO;Initial Catalog=Image_lsn;User ID=Lessons;Password=1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>